<!-- src/app/features/therapy-session/therapy-session.component.html -->
<div class="session-container">

  <div class="overlay-global" *ngIf="mostrarTerminos">
    <div class="modal-global">
      <h2 style="text-align: center; margin: 0;">Aviso de Privacidad y Uso Educativo</h2>
      <p>
        Esta aplicación es un simulador educativo de psicología. Los datos que ingreses (como nombre, correo y mensajes)
        se utilizan únicamente con fines educativos y para el funcionamiento de la experiencia.

        Tu información será tratada de forma confidencial y responsable, y no será compartida con terceros. Esta
        herramienta no reemplaza terapia psicológica real ni ofrece diagnósticos clínicos.

        Al continuar, aceptas estas condiciones.
      </p>

      <button style="display: block; margin: 12px auto;" (click)="aceptarTerminos()">Aceptar</button>
    </div>
  </div>


  <header class="session-header">
    <div class="header-content">
      <div class="header-text">
        <h1>Simulador de sesión de terapia</h1>
        <p class="subtitle">Practique sus habilidades terapéuticas con respuestas de pacientes impulsadas por IA</p>
      </div>
    </div>
  </header>

  <div class="session-content">
    <aside class="left-panel">
      <app-patient-profile (pacienteChange)="onPacienteChange($event)">
      </app-patient-profile>
    </aside>

    <app-conversation-display [messages]="messages" [paciente]="pacienteActual" (sendMessage)="onSendMessage($event)">
    </app-conversation-display>

    <aside class="right-panel">
      <app-checklist-sidebar [checklistSesion]="checklistSesion">
      </app-checklist-sidebar>
    </aside>
  </div>

  <div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner"></div>
    <p>Processing...</p>
  </div>
</div>