/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.overlay-global {
    position: fixed;
    /* 🔑 sobre todo */
    inset: 0;
    background: rgba(247, 247, 247, 0.75);
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-global {
    background: #ffffff;
    width: 420px;
    max-width: 90vw;
    max-height: 80vh;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
    text-align: justify;

}