<!-- Patient Card -->
<div class="patient-card" *ngIf="patient && !isLoading">
  
  <!-- Contenedor de foto -->
  <div class="patient-photo-container">
    <img 
      *ngIf="patient.image" 
      [src]="patient.image" 
      [alt]="patient.nombre"
      class="patient-avatar"
    >
    
    <svg 
      *ngIf="!patient.image" 
      class="patient-avatar-placeholder"
      viewBox="0 0 400 300" 
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="400" height="300" fill="#e5e5e5"/>
      <circle cx="200" cy="120" r="40" fill="#bdbdbd" />
      <path d="M 120 250 Q 200 200, 280 250" fill="#bdbdbd" />
    </svg>
  </div>
  
  
  
</div>